#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textBox
{
    width: 300px;
    resize: none;
}
body{
    background: linear-gradient(rgb(228, 132, 132) 10%, rgb(69, 69, 180) 60%);
}